@media screen and (min-width: 0px) and (max-width: 1199px) {
    #hide {display: none;}
}
@media screen and (min-width: 0px) and (max-width: 1499px) {
    #hide1 {display: none;}
}
@media screen and (min-width: 0px) and (max-width: 1299px) {
    #hide2 {display: none;}
}
@media screen and (min-width: 0px) and (max-width: 575px) {
    #hide3 {display: none;}
}
@media screen and (min-width: 0px) and (max-width: 414px) {
    #hide4 {display: none;}
	  #nav-font {font-size: 150%;}
		#nav-height {height: 9%;}
}
@media screen and (min-width: 0px) and (max-width: 991px) {
	#hide5 {display: none;}
	#sep {display: none;}
	.nav-icons {display: block;}
	#pad-change {padding-top: 6px;}
}
@media screen and (min-width: 0px) and (max-width: 767px) {
    #center-text {text-align: center !important;}
}
@media screen and (min-width: 0px) and (max-width: 375px) {
		#navmenu {margin-right: -90px;}
}
@media screen and (min-width: 0px) and (max-width: 414px) {
		#navmenu {margin-left: 160px;}
}
@media screen and (min-width: 0px) and (max-width: 414px) {
		#nomargin {margin-bottom: 5% !important;}
		#about {padding-top:90px !important;}
		#sec1, #sec2, #sec3 {padding-top:90px !important;}
		#sec3 {padding-bottom: 60px !important;}
		#skill {padding-bottom: 10px;}
		#sep {display: none;}
}
@media screen and (min-width: 0px) and (max-width: 406px) {
		#navmenu {display: none;}
	
}

.input-readonly:hover {
	opacity: 0.4;
	content: "";
}

.story {
	padding-top:120px; padding-bottom: 120px; background-image:url(images/bgimg.jpg);background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;
}

.l {
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b;
	font-size: 1em;
	display: inline-flex;
	align-items: center;
	margin: auto;
	width: 50px;
	height: 25px;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.l:before, .l:after {
	content: "";
	display: block;
}
.l:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
	margin-left: 7px;
}
.l:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}
/* Checked */
.l:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}
.l:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}
.l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}
/* Other States */
.l:focus {
	/* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
	outline: 0;
}